{% extends 'layouts/base.html' %}
<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
{% block content %}
<div class="wrapper">
{% if messages %}
  {% for message in messages %}
  {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

  {% endfor %}

{% endif %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) BREADCRUMB -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Service Management</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Service Management</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-success">
              <div class="card-header">
                   <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="margin-left:40%"><h6 class="card-title"><b>SERVICES PROVIDED</b></h6></div>
                    <div class="col-md-3"></div>
                  </div>
              </div>
              </div>
      <!-- /.card-header -->
  <!-- form start -->
  
                        <h3 class="card-title">
                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#addService"><i class="fa fa-plus"> Add Services</i></button>
                            </div>
                        </h3>
                    </div>
            <div class="modal fade" id="addService">
                <div class="modal-dialog" style="width:450px !important;">
                  <form method="POST" action="{% url 'service_regist' %}" enctype="multipart/form-data" >
                    {% csrf_token %}
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" style="margin-left:38%"><i class="fa fa-plus"> Add Service</i></h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      
                      </button>
                    </div>
                    <div class="card card-primary">
                       <div class="card-body">
                                <div class="form-group">
                                    <label>Service Name</label>
                                    <input name="name" type="text" class="form-control" placeholder="Enter Service Name.." required>
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Amount Charge</label>
                                  <input type="number" class="form-control" name="selling_price" placeholder="Enter Selling Price.." required>
                                </div> 
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Commission</label>
                                  <input type="number" class="form-control" name="commission" placeholder="Enter Commision.." required>
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Cost Price</label>
                                  <input type="number" class="form-control" name="cost_price" placeholder="Enter Cost Price.." required>
                                </div> 
                              </div>
                              
                          </div>
                            <div class="modal-footer justify-content-between">
                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                              <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                            </div>
                        
                          </div>
                     
                        </div>
                          </form>
                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                      <!-- /.card-header -->
                          <div class="card-body">
                            <table id="table" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
                              <thead>
                              <tr>
<!-- {% for child in children.object_list %}
    <tr><td width="15%">strong>Sl.no</strong>
        {{ forloop.counter0|add:children.start_index}} </td>
    </tr>
{% endfor %} -->
                                <th style="font-size: 13px; width: 10%;">S/No.</th>                          
                                <th style="font-size: 13px;">Service Name</th>
                                <th style="font-size: 13px;">Amount Charged</th>
                                <th style="font-size: 13px;">Commission</th>
                                <th style="font-size: 13px;">Cost Price</th>
                                <th style="font-size: 13px;">Recorded By</th>
                                <th style="font-size: 13px;">Date</th>
                                <th style="font-size: 13px;">Action</th>
                              </tr>
                              </thead>
                              <tbody>
                               
                                {% for serve in service %}
                              
                              <tr>
                                <td style="font-size: 13px;">{{forloop.counter}}</td>
                                <td style="font-size: 13px;">{{serve.name}}</td>
                                <td style="font-size: 13px;">{{serve.selling_price}}</td>
                                <td style="font-size: 13px;">{{serve.commission}}</td>
                                <td style="font-size: 13px;">{{serve.cost_price}}</td>
                                <td style="font-size: 13px;">{{serve.addedby}}</td>
                                <td style="font-size: 13px;">{{serve.addedon}}</td>
                                  <td>
                                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#Upservice{{serve.id}}"><i class="fa fa-pencil-alt"> Edit</i> 
                                    </button>
                                </td>
                              </tr>
                              <div class="modal fade" id="Upservice{{serve.id}}">
                                <div class="modal-dialog" style="width:450px !important;">
                                  
                                  <form method="POST" action="{% url 'serve_edit' serve.id %}" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" style="margin-left:38%"><i class="fa fa-plus"> Edit Service</i></h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       
                                      </button>
                                    </div>
                                    <div class="card card-primary">
                                       <div class="card-body">
                                                <div class="form-group">
                                                    <label for="UnitName">Service Name <span style="color:red;">*</span></label>
                                                    <input name="name" value="{{serve.name}}" type="text" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                  <label for="exampleInputEmail1">Selling Price <span style="color:red;">*</span></label>
                                                  <input type="number" value="{{serve.selling_price}}" class="form-control" name="selling_price" required>
                                                </div>  
                                                <div class="form-group">
                                                  <label for="exampleInputEmail1">Commission <span style="color:red;">*</span></label>
                                                  <input type="number" value="{{serve.commission}}" class="form-control" name="commission" required>
                                                </div>  
                                                <div class="form-group">
                                                  <label for="exampleInputEmail1">Cost Price <span style="color:red;">*</span></label>
                                                  <input type="number" value="{{serve.cost_price}}" class="form-control" name="cost_price" required>
                                                </div>                                            
                                          </div>
                                     
                                          </div>
                                            <div class="modal-footer justify-content-between">
                                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                              <button type="submit" href="{% url 'serve_edit' serve.id %}" value="serve_edit/" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                                            </div>
                                                                                   
                                          </div>
                                          </form>
                                          
                                          <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                      </div>
                              {% endfor %}
                              
                              </tbody>
                              
                            </table>
                          </div>
                          <!-- /.card-body -->
                            </div>
                        
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6"></div>
          <!--/.col (right) -->
      </div><!-- /.container-fluid -->
    <!--For washing-->
    
    <div class="modal fade" id="delete{{serve.id}}">
    <div class="modal-dialog" style="width:400px !important;">
        <form action="">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" style="margin-left:15%">Are you sure you want delete?</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              
              </button>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No</button>
              <button type="submit" href="" value="" class="btn btn-primary"><i class="fa fa-check"></i> Yes</button>
            </div>
          </div>
          </form>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  {% include "includes/footer.html" %}
  
</div>
<!-- ./wrapper -->
{% endblock content %}

</body>
</html>
